/**
*2015/05/24
*NewSnow
**/


/*---------------------------------------------------------------------
 *---------------------------------------------------------------------
 * Gerneral Classes
 *---------------------------------------------------------------------
 *----------------------------------------------------------------------*/
html {
    font-size: 62.5%;
}

body {
    height: 100%;
    font-size: 1.4rem;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    color: #999;
    background-color: #e6eef1;
}


img {
    height: 100%;
    width: auto;
}

h3 {
    font-size: 1.6rem;
    color: #666;
}

p {
    font-size: 1.4rem;
    color: #999;
}
/*---------------------------------------------------------------------
 *---------------------------------------------------------------------
 * Help Classes
 *---------------------------------------------------------------------
 *----------------------------------------------------------------------*/
.gray-border { border-bottom: 1px solid #e5e5e5; }

.mt22 { margin-top: 22px; }
.mr10 { margin-right: 10px; }
.ml10 { margin-left: 10px; }
.mb13 { margin-bottom: 13px;}
.pb15 { padding-bottom: 15px;}

.bg-white { background-color: #fff;}
/*---------------------------------------------------------------------
 *---------------------------------------------------------------------
 * Components Classes
 *---------------------------------------------------------------------
 *----------------------------------------------------------------------*/
header {
    background-color: #fff;
    margin-bottom: 6px;
}
.top-bar {
    height: 30px;
    padding: 8px 10px;
    line-height: 30px;
}
.logo { height: 30px; }
.mail {
    height: 20px;
    margin-top: 5px;
}

.nav {
    height: 40px;
    line-height: 40px;
}
.nav-list { width: 100%; }
.nav-list li {
    height: 38px;
    line-height: 38px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    text-align: center;
}
.nav-list li.active {
    border-bottom: 2px solid #23a285;
}
.nav-list a {
    font-size: 1.6rem;
    color: #666;
}

article {
    margin-bottom: 6px;
    background-color: #e6eef1;
}

.banner { height: 150px; }

.sub-banner {
    height: 120px;
    background-size: 100% 100%;
}

.service-bg { background-image: url('../img/service.png'); }
.case-bg { background-image: url('../img/case.png'); }
.message-bg { background-image: url('../img/message.png'); }
.about-bg { background-image: url('../img/about.png'); }
.contact-bg { background-image: url("../img/contact.png");}

footer {
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.4rem;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.footer-info {
    width: 144px;
    margin: 0 auto;
    margin-bottom: 6px;
}
.footer-info li {
    float: left;
}

.footer-info li a {
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px;
    font-size: 1.4rem;
    color: #666;
}
/*---------------------------------------------------------------------
 *---------------------------------------------------------------------
 * Page Classes
 *---------------------------------------------------------------------
 *----------------------------------------------------------------------*/
.func-list>li {
    margin-bottom: 6px;
    background-color: #fff;
}
.func-list>li:last-child {
    margin-bottom: 0;
}
.func-list .title{
    height: 35px;
    padding-left: 10px;
    font-size: 1.4rem;
    color: #666;
    line-height: 35px;
    border-left: 4px solid #21a082;
}

.content-icon {
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 10px;
    height: 50px;
    width: 50px;
}

.content-description { padding: 30px 20px 20px 0; }

.content-description h3 {
    font-size: 1.5rem;
    color: #666;
}

.content-description a {
    display: block;
    margin-top: 5px;
    color: inherit;
    word-wrap: break-word;
    word-break: break-all;
}

.case-list { padding: 10px 0px; }

.case-list li {
    float: left;
    width: 50%;
    margin: 10px auto;
    text-align: center;
}

.case-list .case-cover {
    height: 150px;
    margin: 0 10px;
    background-size: 100% 100%;
}

.case-list li h3 {
    margin-top: 10px;

    color: #666;
    font-size: 1.5rem;
}

.case-list li p { color: #999; }

.more-container {
    background-color: #fff;
    padding: 0 10px 15px;
}

.load-more {
    display: inline-block;
    height: 40px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 1.4rem;
}
.more-container .load-more:active {
    color: #fff;
    background-color: #999;
}

.dark-style {
    color: #999;
    background-color: #efefef;
}

.light-style {
    color: #999;
    background-color: transparent;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}


    /*service*/
.service-container {
    /*padding: 0 10px;*/
    background-color: #fff;
}
  
.service-list>li {
    padding: 40px 30px 30px 30px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.service-list>li:last-child {
    border: none;

}

.service-list>li>a {
    display: block;
}

.service-list > li .des-img {
    height: 60px;
}

.service-list>li h3 {
    margin-top: 15px;
    margin-bottom: 15px;

}
.service-list>li h3 p {
   text-align: center;
    color: #666;
}

.service-list>li p {
    text-align: justify;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #999;
}

    /*message*/
.message-swiper {
    position: relative;
    padding: 70px 20px 0 40px;
    background-color: #fff;
}

.message-list>li {
    position: relative;
    padding: 12px 0 20px 40px;
    border-left: 2px solid #e5e5e5;
}

.message-list>li p {
    color: #777;
}

.message-list .avatar {
    position: absolute;
    top: 0;
    left: -30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.user-info {
    margin-bottom: 15px;
}

.user-info small { color: #999; }

/*about*/
.about-list li {
   padding-top: 22px;
   padding-right: 12px;
}

.des-container {
    padding: 15px 10px 0;
}

.des-container p {
    font-size: 1.4rem;
}
.about-list>li>h3 {
    position: relative;
    width: 90px;
    height: 24px;
    padding-left: 10px;
    color: #fff;
    font-size: 1.6rem;
    line-height: 24px;
    background-color: #90d0c1;
}

.triangle {
    position: absolute;
    top: 0;
    right: 0;
    border-color: transparent #fff transparent transparent;
    border-style: solid;
    border-width: 12px;
}

.img-container { height: 100px; }

.list-container {
    height: 40px;
    margin-right: 12px;
    /*margin-bottom: 15px;*/
}
/*contact*/
.contact-container {
    padding: 40px 10px 25px;
}

.contact-img {
    height: 55px;
    margin-right: 16px;
}

.map {
    width: 100%;
    height: 180px;
    margin-top: 23px;
    background-image: url('../img/map.png');
    background-size: 100% 100%;
}

/*join*/
.join {
    padding: 50px 10px 25px 10px;
}

.join-list h3 {
    margin-top: 30px;
    margin-bottom: 17px;
}

/*---------------------------------------------------------------------
 *---------------------------------------------------------------------
 * Plugin Classes OverWrite
 *---------------------------------------------------------------------
 *----------------------------------------------------------------------*/
.swiper-container { height: 200px; }
.swiper-pagination { text-align: right; }
.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    opacity: 1;
    background: #fff;
}
.swiper-pagination-bullet-active { background: #16ac55; }

.slide-img {
    height: 150px;
    width: 100%;
    background-size: 100% 100%;
}
/*tab*/
#nav {
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
    display:block;
    width: 250px;
    height: 40px;
    padding: 0 20px;
    margin: 0 auto;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.join #nav {
    width: 100%;
    padding: 0;
}

#nav li {
    float:left;
    width:120px;
}

.join #nav li {
    width: 33%;

}
#nav li a {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    text-align:center;
    font-size: 1.6rem;
    color:#999;
}

.join #nav li a { font-size: 1.3rem; }

#nav li a.selected{
    position: relative;
    padding: 0 12px;
    color: #22a183;
    border-bottom: 2px solid #22a183;
}

#nav li a.selected .arrow {
    position: absolute;
    left: 0;
    bottom: -14px;
    right: 0;
    display: inline-block;
    width: 0;
    margin: 0 auto;
    border-color: #22a183 transparent transparent transparent;
    border-style: solid;
    border-width: 6px;
}